@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.scrollbar-thin {
  scrollbar-width: auto;
  /* scrollbar-color: transparent transparent; Thumb color and track color */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px; /* Very thin scrollbar */
  height: auto; /* Very thin scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: blue; /* Thumb color */
  border-radius: 9999px; /* Rounded corners */
  height: 20px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: transparent; /* No track color */
  border-radius: 9999px;
}
/* Custom styles for select dropdown */
.custom-select {
  max-height: 2.5 rem; /* Adjust the height as needed */
  overflow-y: auto;
}

.custom-select option {
  padding: 0.5rem; /* Adjust the padding as needed */
}
